In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

df = pd.read_csv("healthcare-dataset-stroke-data.csv")
df = df.drop(columns = ['id'])
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [2]:
# y = df['stroke']

# X = df.drop(columns = ['stroke'])

In [3]:
sc = StandardScaler()
scaled = sc.fit_transform(df[["age", "avg_glucose_level", 'bmi']])

scaled_df = pd.DataFrame(scaled, columns = ["age", "avg_glucose_level", 'bmi'])

In [4]:
df_dummies = pd.get_dummies(df[['gender','ever_married', 'work_type', 'Residence_type', 'smoking_status' ]])
df_dummies.head()

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0
1,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0
2,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0
3,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1
4,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0

In [5]:
binary_df = df[['hypertension', 'heart_disease', 'stroke']]
binary_df.head()

   hypertension  heart_disease  stroke
0             0              1       1
1             0              0       1
2             0              1       1
3             0              0       1
4             1              0       1

In [6]:
combined_df = pd.concat([scaled_df, df_dummies, binary_df], axis = 1)
combined_df.head()

,age,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,...,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,hypertension,heart_disease,stroke
0,1.051434,2.706375,0.981345,0,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,1
1,0.786070,2.121559,NaN,1,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,1
2,1.626390,-0.005028,0.459269,0,1,0,0,1,0,0,...,0,1,0,0,0,1,0,0,1,1
3,0.255342,1.437358,0.701207,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
4,1.582163,1.501184,-0.623083,1,0,0,0,1,0,0,...,0,1,0,0,0,1,0,1,0,1

In [10]:
y = combined_df['stroke']

X = combined_df.drop(columns = ['stroke'])

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)
X_train, X_test, y_train, y_test

(           age  avg_glucose_level       bmi  gender_Female  gender_Male  \
 1914 -0.010023          -0.624740  0.000861              0            1
 1751  0.962980          -0.382686 -0.088274              1            0
 396   0.741843           2.368030  0.904944              0            1
 1783 -1.823345          -0.893959 -1.565366              0            1
 2361 -0.584978          -0.092044 -0.724951              1            0
 ...        ...                ...       ...            ...          ...
 2895  0.122660           0.698386  0.051795              0            1
 2763  0.078432          -0.936804  0.395601              1            0
 905  -0.540751          -0.660076  0.854009              1            0
 3980  0.078432           2.472493  3.324319              1            0
 235   1.095662           2.317013  1.325151              1            0

       gender_Other  ever_married_No  ever_married_Yes  work_type_Govt_job  \
 1914             0                0                 1                   0
 1751             0                0                 1                   0
 396              0                0                 1                   0
 1783             0                1                 0                   0
 2361             0                0                 1                   0
 ...            ...              ...               ...                 ...
 2895             0                0                 1                   0
 2763             0                0                 1                   0
 905              0                0                 1                   0
 3980             0                0                 1                   0
 235              0                0                 1                   0

       work_type_Never_worked  ...  work_type_Self-employed  \
 1914                       0  ...                        0
 1751                       0  ...                        0
 396                        0  ...                        0
 1783                       0  ...                        0
 2361                       0  ...                        0
 ...                      ...  ...                      ...
 2895                       0  ...                        0
 2763                       0  ...                        0
 905                        0  ...                        0
 3980                       0  ...                        0
 235                        0  ...                        0

       work_type_children  Residence_type_Rural  Residence_type_Urban  \
 1914                   0                     1                     0
 1751                   0                     0                     1
 396                    0                     1                     0
 1783                   1                     1                     0
 2361                   0                     0                     1
 ...                  ...                   ...                   ...
 2895                   0                     0                     1
 2763                   0                     1                     0
 905                    0                     1                     0
 3980                   0                     1                     0
 235                    0                     1                     0

       smoking_status_Unknown  smoking_status_formerly smoked  \
 1914                       0                               0
 1751                       0                               1
 396                        0                               0
 1783                       1                               0
 2361                       1                               0
 ...                      ...                             ...
 2895                       0                               0
 2763                       1                               0
 905                        0                               0
 3980                       0                               0
 235                        1                               0

       smoking_status_never smoked  smoking_status_smokes  hypertension  \
 1914                            1                      0             0
 1751                            0                      0             0
 396                             1                      0             1
 1783                            0                      0             0
 2361                            0                      0             0
 ...                           ...                    ...           ...
 2895                            1                      0             0
 2763                            0                      0             0
 905                             1                      0             0
 3980                            0                      1             0
 235                             0                      0             0

       heart_disease
 1914              0
 1751              0
 396               0
 1783              0
 2361              0
 ...             ...
 2895              0
 2763              0
 905               0
 3980              0
 235               0

 [3832 rows x 21 columns],
            age  avg_glucose_level       bmi  gender_Female  gender_Male  \
 4673 -0.054250           0.150893  1.057746              1            0
 3232  1.537935          -0.615243  0.153664              1            0
 3694 -0.673433          -0.726111 -0.444813              0            1
 1070  1.670617           3.096180 -0.992356              1            0
 4163  0.388024          -0.200924 -0.113741              1            0
 ...        ...                ...       ...            ...          ...
 2490 -1.872879          -0.458659 -0.699484              0            1
 5078 -1.557980          -0.658972 -1.705435              1            0
 4879 -1.779117          -0.535957 -1.387096              0            1
 3125 -0.761888          -0.381361  0.943144              1            0
 4694 -1.860496          -0.444966 -1.985573              1            0

       gender_Other  ever_married_No  ever_married_Yes  work_type_Govt_job  \
 4673             0                0                 1                   1
 3232             0                0                 1                   0
 3694             0                1                 0                   0
 1070             0                0                 1                   0
 4163             0                0                 1                   0
 ...            ...              ...               ...                 ...
 2490             0                1                 0                   0
 5078             0                1                 0                   0
 4879             0                1                 0                   0
 3125             0                1                 0                   1
 4694             0                1                 0                   0

       work_type_Never_worked  ...  work_type_Self-employed  \
 4673                       0  ...                        0
 3232                       0  ...                        0
 3694                       0  ...                        0
 1070                       0  ...                        1
 4163                       0  ...                        0
 ...                      ...  ...                      ...
 2490                       0  ...                        0
 5078                       0  ...                        0
 4879                       0  ...                        0
 3125                       0  ...                        0
 4694                       0  ...                        0

       work_type_children  Residence_type_Rural  Residence_type_Urban  \
 4673                   0                     1                     0
 3232                   0                     0                     1
 3694                   0                     0                     1
 1070                   0                     1                     0
 4163                   0                     1                     0
 ...                  ...                   ...                   ...
 2490                   1                     0                     1
 5078                   1                     0                     1
 4879                   1                     0                     1
 3125                   0                     0                     1
 4694                   1                     0                     1

       smoking_status_Unknown  smoking_status_formerly smoked  \
 4673                       0                               1
 3232                       0                               1
 3694                       0                               0
 1070                       0                               0
 4163                       1                               0
 ...                      ...                             ...
 2490                       1                               0
 5078                       1                               0
 4879                       1                               0
 3125                       0                               0
 4694                       1                               0

       smoking_status_never smoked  smoking_status_smokes  hypertension  \
 4673                            0                      0             0
 3232                            0                      0             0
 3694                            0                      1             0
 1070                            1                      0             0
 4163                            0                      0             0
 ...                           ...                    ...           ...
 2490                            0                      0             0
 5078                            0                      0             0
 4879                            0                      0             0
 3125                            1                      0             0
 4694                            0                      0             0

       heart_disease
 4673              0
 3232              0
 3694              0
 1070              0
 4163              0
 ...             ...
 2490              0
 5078              0
 4879              0
 3125              0
 4694              0

 [1278 rows x 21 columns],
 1914    0
 1751    0
 396     0
 1783    0
 2361    0
        ..
 2895    0
 2763    0
 905     0
 3980    0
 235     1
 Name: stroke, Length: 3832, dtype: int64,
 4673    0
 3232    0
 3694    0
 1070    0
 4163    0
        ..
 2490    0
 5078    0
 4879    0
 3125    0
 4694    0
 Name: stroke, Length: 1278, dtype: int64)

In [12]:
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)